body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: azure;
}

.quem-somos {
    background-color: antiquewhite;
}

.margin {
    padding-top: 50px;
    padding-bottom: 10px;
}

.margin-title {
    padding-bottom: 40px;
}

.margin-description{
    padding-top: 20px;
}

.parceiros {
    background-color:beige;
}

.margin-image {
    margin-top: -20px;
}

.servicos {
    background-color: floralwhite;
}

.bg-footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    color:white;
}